<section class= "layout-about">
	<h1>About Bikes Berlin</h1>
	<p>For the past 5 years Bikes Berlin offers our customers a wide range of cycling accessories, clothing and complete wheels.
	Our connectedness to cycling as well as the wealth of experience of our employees, many of whom drive yourself active wheel is, and remains our greatest asset.

	Knowledge and experience are invaluable, especially in this rapidly evolving industry, so our staff are constantly trained and educated. Our incentive to offer our customers not only competitive prices, but also a first-class service and expert advice, sets us apart from other "discounters".

	In order for our customers to be able at any time to offer the best available material at the best price, we are working internationally with a variety of partners and manufacturers.

	This global network of suppliers and our strategically optimized purchasing management enables us, for our customers to deliver the best possible value for money and offer a huge selection of products.
	</p>
</section>

<section class="order-advantages">
	<h1>Your advantages of ordering from us online:</h1>
	<ul>
		<li>As already mentioned, you have a far wider selection.</li>
		<li>Then you just have to decide how you want to pay the bill either by using your credit card, immediate bank transfer, or your PayPal account - naturally no extra charge or additional costs of any kind.</li>
		<li>The order itself is much faster and more convenient since you do not need to go to the shop.
		</li>
	</ul>
</section>
