<section class="contact-information">

	<div class="contact-text">
		<h1>Contact Information</h1>
		<p><span class="glyphicon glyphicon-home"></span> Bikes Berlin GmbH, Radstr. 13, 12345 Berlin</p>
		<p><span class="glyphicon glyphicon-phone"></span> +49 30 123 456</p>
  	<p><span class="glyphicon glyphicon-envelope"></span> contact@bikes-berlin.com</p>
	</div>
</section>

  
