// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	padding-left: 15px;
}

table {
	margin-left: 15px;
}

.new-product {
	padding-left: 15px;
}

.listed-product {
	width: 60px;
	height: 60px;
}

.new-product {
	margin-bottom: 80px;
}