
* { box-sizing: border-box; }

.contact-information{
	background-image: image-url('taipei_city_513581.jpg');
	background-attachment: fixed;
	background-size: initial;
	padding-top: 550px;
	padding-bottom: 50px;
}

.contact-text{
	padding-bottom: 450px;	
	padding-left: 700px;
}
